In [9]:
import pandas as pd

shot_list_sheet_1 = pd.read_excel("./datasets/KSTAR Disruption Shot List (1).xlsx", sheet_name = 'Sheet1')
shot_list_sheet_2 = pd.read_excel("./datasets/KSTAR Disruption Shot List (1).xlsx", sheet_name = 'Sheet2')

In [10]:
shot_list_sheet_1

,ShotNumber,ExistPCS,ShotEndPhase,ShotEndType,FlattopStartTime,FlattopEndTime,IpMinFaultTime,Unnamed: 7,Unnamed: 8,1.149999997,4.198199989,4.180399989
0,12282,0,N,N,NaN,NaN,NaN,NaN,NaN,1.1500,5.71010,5.68450
1,12283,0,N,N,NaN,NaN,NaN,NaN,NaN,0.9200,3.02870,3.01150
2,12284,0,N,N,NaN,NaN,NaN,NaN,NaN,0.9200,5.74845,5.74845
3,12285,0,N,N,NaN,NaN,NaN,NaN,NaN,0.9200,3.14320,3.12200
4,12288,0,N,N,NaN,NaN,NaN,NaN,NaN,1.4999,5.23390,5.21230
...,...,...,...,...,...,...,...,...,...,...,...,...
4361,19383,1,Flattop,Disruption,1.164,2.512,2.440,NaN,NaN,NaN,NaN,NaN
4362,19387,1,Rampdown,Disruption,NaN,NaN,15.612,NaN,NaN,NaN,NaN,NaN
4363,19388,1,Rampdown,Disruption,NaN,NaN,15.504,NaN,NaN,NaN,NaN,NaN
4364,19389,1,Rampdown,Disruption,NaN,NaN,15.515,NaN,NaN,NaN,NaN,NaN
4365,19391,1,Rampdown,Disruption,NaN,NaN,15.747,NaN,NaN,NaN,NaN,NaN

In [11]:
shot_list_sheet_2

       shot  year  tftsrt  tipminf   tTQend     Isdata
0     12350  2015  1.5000   5.2460   5.2248        NaN
1     12372  2015  0.7000   3.8180   3.8026        NaN
2     12415  2015  1.9000   4.7690   4.7450        NaN
3     12438  2015  1.1000   3.7020   3.6826        NaN
4     12481  2015  1.9000   5.2170   5.1923        NaN
...     ...   ...     ...      ...      ...        ...
1091  21730  2018  1.4998   4.9679   4.9486        NaN
1092  21731  2018  1.4998   4.9126   4.8946        NaN
1093  21735  2018  1.4998  89.7465  89.7320        NaN
1094  21747  2018  3.7239  11.4509  11.4190        NaN
1095  21757  2018  1.4998  87.9075  87.8940  210817_전송

[1096 rows x 6 columns]